.class-detail-card {
  @apply relative bg-white rounded-[12px] pt-[12px] border-solid md:border-[2px] border-secondary-200 cursor-pointer;
  transition: all 0.2s ease-in-out;

  &.selected {
    box-shadow: 0px 16px 32px -4px rgba(12, 12, 13, 0.1);

    &::before {
      content: "";
      @apply absolute top-[20px] h-[calc(100%-42px)] left-[-2px] w-[4px] md:bg-secondary-500 rounded-tr-[12px] rounded-br-[12px];
    }
  }

  .card-header {
    @apply mb-[12px] px-4;

    .title {
      @apply flex text-neutral-950 items-center justify-between sh201;
    }
  }

  .card-content {
    @apply relative overflow-hidden transition-all duration-300 px-4;
    @apply pb-[12px]; // Padding bottom for all screens matches padding top

    &.expanded {
      max-height: 100%; // Fully expanded height
      @apply pb-[12px]; // Maintain consistent bottom padding when expanded
    }

    // Mobile-only height restriction for collapsed state
    @media (max-width: 767px) {
      max-height: 284px; // Collapsed height
      overflow: hidden;

      &.expanded {
        max-height: 100%; // Expanded height
      }
    }

    &::before {
      content: "";
      @apply absolute left-[18px] opacity-0;
      top: 20px; // Adjusted the starting position for better alignment
      width: 2px;
      height: calc(var(--line-height, 0) - 16px); // Reduced height slightly
      border-left: 2px dashed rgba(215, 238, 236, 1);
      transition: all 0.3s ease-in-out;
      z-index: 1;
    }

    &.has-line::before {
      @apply opacity-100;
    }
  }

  .card-wrapper {
    @apply relative pl-[20px] mb-[24px] last:mb-0;
    min-height: 40px;

    .dot {
      @apply absolute bg-secondary-700 -left-[3px] top-[10px] w-3 h-3 rounded-full border-2 border-secondary-150 z-[10];
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .view-all-wrapper {
    @apply flex justify-center w-full p-4;
    box-shadow: 0px 0px 24px -4px rgba(12, 12, 13, 0.12);
  }

  .view-all-button {
    @apply text-primary-500 text-sm font-medium cursor-pointer;
    transition: color 0.3s ease;

    &:hover {
      @apply text-primary-600;
    }
  }
}
