.solid-button {
  @apply flex items-center justify-center bg-primary-700 rounded-[8px] p-[10px] cursor-pointer transition-colors duration-200;

  &:hover {
    @apply bg-primary-500;
  }

  &:active {
    @apply bg-primary-500;
  }

  .icon {
    @apply w-[24px] h-[24px];
  }
}
