.overlay {
    @apply fixed inset-0 bg-black/50 z-50;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;

    &.visible {
        opacity: 1;
        visibility: visible;
    }
}

.bottomSheet {
    @apply fixed left-0 right-0 bottom-0 w-full;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;

    &.visible {
        transform: translateY(0);
    }

    .lineWrapper {
        @apply flex justify-center py-2;

        .line {
            @apply w-10 h-[2px] rounded-full bg-neutral-300;
        }
    }

    .content {
        @apply bg-white rounded-t-[12px] w-full min-h-[200px];
        // Add max-height if needed
        max-height: 90vh;
        overflow-y: auto;
    }
}