.question-card {
  @apply relative max-w-full bg-white rounded-[12px] border-[1px] border-neutral-100 p-[8px] cursor-pointer;

  &.selected {
  }

  .card-header {
    @apply mb-[12px];

    .sub-title {
      @apply flex items-center justify-between mb-[16px];

      h3 {
        @apply p302 text-neutral-400;
      }
    }

    .title {
      h2 {
        @apply sh201 text-black;
      }
    }
  }

  .card-content {
    @apply flex flex-col gap-[16px] px-[8px] py-[12px] rounded-[8px] bg-neutral-50;

    .title {
      h3 {
        @apply text-neutral-900 p303;
      }
    }

    .steps {
      @apply flex flex-col gap-[12px];

      .step {
        @apply flex items-center gap-[8px];

        img {
          @apply w-[15px] h-[19px];
        }

        span {
          @apply p302 text-neutral-500;
        }
      }
    }
  }

  .card-footer {
    @apply mt-[8px];

    .footer-item {
      @apply p-[8px] rounded-[8px] flex items-center gap-[8px] mb-[8px] last:mb-0;

      label {
        @apply p303;
      }

      &.notebook-image {
        @apply bg-primary-50;

        label {
          @apply text-primary-800;
        }

        img {
          @apply w-[24px] h-[24px];
        }
      }

      &.notebook-intervention {
        @apply flex items-center justify-between bg-secondary-50;

        label {
          @apply text-neutral-800 p301;
        }

        .interventions {
          @apply flex flex-wrap gap-[4px];
        }
      }
    }
  }
}
.gallery-modal {
  @apply fixed inset-0 w-full h-full bg-black bg-opacity-70 flex justify-center items-center z-[1000] px-[5%] py-[3%];
}
