.text-button {
  @apply flex items-center justify-center bg-transparent text-neutral-200 rounded-[8px] p-[10px] cursor-pointer transition-colors duration-200;

  &:hover {
    @apply text-neutral-300;
  }

  &:active {
    @apply text-neutral-400;
  }

  .icon {
    @apply w-[24px] h-[24px];
  }

  .icon-left {
    @apply mr-[8px];
  }

  .icon-right {
    @apply ml-[8px];
  }

  .text {
    @apply text-neutral-200;
  }

  &.bg-light {
    @apply text-surface-900;

    .text {
      @apply text-surface-900;
    }
  }
}
